<nav>
    <div id="logo">
        <img src="/EchoWriteLogo.png" alt="Reload">
    </div>

    <!-- <div id="content">
        <div id="homeCont" class="cont">
            <img src="https://img.icons8.com/?size=100&id=86527&format=png&color=000000" alt="Reload">
            <a href="/">Home</a>
        </div>
        <div id="postCont" class="cont">
            <img src="https://img.icons8.com/?size=100&id=18613&format=png&color=000000" alt="Reload">
            <a href="/user/post">Post</a>
        </div>
        <div id="profileCont" class="cont">
            <img src="https://img.icons8.com/?size=100&id=52883&format=png&color=000000" alt="Reload">
            <a href="/user/profile">Profile</a>
        </div>
        <div id="customerSupCont" class="cont">
            <img src="https://img.icons8.com/?size=100&id=7731&format=png&color=000000" alt="Reload">
            <a href="/user/customersupport">Customer Support</a>
        </div> -->

        <div id="content">
            <a href="/" id="homeCont" class="cont">
                <img src="https://img.icons8.com/?size=100&id=86527&format=png&color=000000" alt="Reload">
                <span>Home</span>
            </a>
            <a href="/user/post" id="postCont" class="cont">
                <img src="https://img.icons8.com/?size=100&id=18613&format=png&color=000000" alt="Reload">
                <span>Post</span>
            </a>
            <a href="/user/profile" id="profileCont" class="cont">
                <img src="https://img.icons8.com/?size=100&id=52883&format=png&color=000000" alt="Reload">
                <span>Profile</span>
            </a>
            <a href="/user/customersupport" id="customerSupCont" class="cont">
                <img src="https://img.icons8.com/?size=100&id=7731&format=png&color=000000" alt="Reload">
                <span>User Support</span>
            </a>
        </div>
        
    </div>

    <% if(locals.user) { %>
        <div id="userDetsContainer">
            <a href="/user/profile">
                <p>
                    <%= user.username %>
                </p>
            </a>
            <img src="<%=user.profileimage%>" alt="Reload">
        </div>
        <% } %>
</nav>