<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Logo.jpg" type="image/x-icon">
    <title>Check Mail</title>
    <link rel="stylesheet" href="/checkYourMail.css">
</head>
<body>
    <div id="mainContainer">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSdD8N3MKHVWNFhSE7JAuF2or2flTVn0SVsw&s" alt="Reload">
        <h1>Check your mail!</h1>
        <p>We send a link for reset password to</p>
        <h4><%= mailName %></h4>
        <div id="buttonContainer">
            <a href="/login">Login</a>
        </div>
    </div>
</body>
</html>