<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/editProfile.css">
    <link rel="stylesheet" href="/Nav.css">
</head>
<body>
    <%- include('./partials/NavBar') %>
    <h1>This is Edit Page</h1>
</body>
<script src="/Nav.js"></script>
</html>