<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Logo.jpg" type="image/x-icon">
    <title>ERROR</title>
    <link rel="stylesheet" href="/errorPage.css">
</head>

<body>
    <div id="mainContainer">
        <h1>
            <%=errorMessage%>
        </h1>
        <div id="goBackContainer">
            <a href=<%=backUrl%>>Go Back</a>
        </div>
    </div>
</body>

</html>