<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/setNewPassword.css">
</head>

<body>
    <div id="mainContainer">
        <div id="title">
            <h1>SET NEW PASSWORD</h1>
        </div>
        <div id="content">
            <p>Enter New Password</p>
            <form action="/updatePassword" method="post">
                <input type="password" name="password" id="password" placeholder="New Password">
                <button type="submit">Set</button>
            </form>
        </div>
    </div>
</body>

</html>