<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Logo.jpg" type="image/x-icon">
    <title>EchoWrite-SignUp</title>
    <link rel="stylesheet" href="/signupPage.css">
</head>

<body>
    <div id="main">
        <h1 id="title">Sign-In</h1>
        <div id="mainBody">
            <h3>SIGN IN TO OUR</h3>
            <h1>ECHOWRITE</h1>

            <div id="inputSection">
                <form action="/user/signup" method="post" enctype="multipart/form-data">
                    <p>ENTER YOUR DETIALS</p>
                    <input type="text" name="name" id="name" placeholder="Full Name">

                    <input type="email" name="email" id="email" placeholder="Email">

                    <input type="password" name="password" id="password" placeholder="Password">

                    <p id="prof">Profile Image</p>
                    <input type="file" name="profileimage" id="profileimage" placeholder="Choose Your Profile Picture">

                    <button type="submit">Sign-In</button>

                    <p id="dontAcc">Have an account? <a href="/login">Log-In</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>