*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mainContainer{
    height: 55%;
    width: 40%;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2rem;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/844/147/small/closed-padlock-on-digital-background-cyber-security-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
}
#mainContainer h1{
    margin-bottom: 60px;
}
#mainContainer p{
    margin-right: 30%;
}

#formBox input{
    height: 45px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}
#formBox button{
    height: 45px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        /* border: 2px solid red; */
        padding: 10px;
        height: 100vh;
    }

    #mainContainer {
        width: 100%;
        height: 40%;
        padding: 20px;
        border-width: 1px;
    }

    #mainContainer h1 {
        margin-bottom: 30px;
        font-size: 2rem;
    }

    #mainContainer p {
        margin-right: 0;
        text-align: center;
        font-size: 1rem;
    }

    #formBox input {
        width: 100%;
        margin-bottom: 10px;
        font-size: 1rem;
    }

    #formBox button {
        width: 100%;
        font-size: 1rem;
    }
}
