* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainContainer {
    /* border: 2px solid red; */
    margin-top: 100px;
    margin-bottom: 30px;
}

/* #postContainer{
    /* border: 2px solid yellow; */
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 40px;
}

*/ .cardContainer {
    border: 2px solid black;
    /* height: 450px; */
    max-width: 500px;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20%;
}

.imgContainer {
    height: 270px;
    width: 100%;
}

.imgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#nextPagebtn {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

#nextPagebtn button {
    height: 40px;
    width: 80px;
    background-color: rgb(79, 79, 247);
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

#nextPagebtn button:hover {
    background-color: blue;
}

.titleContainer {
    margin-top: 10px;
}

.creatorContainer {
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 25px;
}

.readMoreContainer {
    margin: 20px 0px 20px 0px;
    /* border: 2px solid red; */
    border-radius: 5px;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(84, 84, 244); */
    background: linear-gradient(40deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: white;
    text-decoration: none;
}

.readMoreContainer a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.readMoreContainer:hover {
    transition: ease-in 0.5s;
    border-radius: 10px;
    background-color: green;
}


/* -------------------------------- 

File#: _1_article-gallery-v3
Title: Article Gallery v3
Descr: A gallery of blog articles
Usage: codyhouse.co/license

-------------------------------- */

/* reset */
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: hsl(0, 0%, 100%);
    font-family: system-ui, sans-serif;
    color: hsl(230, 7%, 23%);
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.4;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    color: hsl(230, 13%, 9%);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
    /* 40px */
}

h2 {
    font-size: 2.125rem;
    /* 34px */
}

h3 {
    font-size: 1.75rem;
    /* 28px */
}

h4 {
    font-size: 1.375rem;
    /* 22px */
}

ol,
ul,
menu {
    list-style: none;
}

button,
input,
textarea,
select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
}

a {
    color: hsl(250, 84%, 54%);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
video,
svg {
    display: block;
    max-width: 100%;
}

/* -------------------------------- 
  
  Component 
  
  -------------------------------- */

.articles-v3 {}

.articles-v3__list-grid {
    /* gap between articles */
    display: grid;
    gap: 4.5rem;
}

.articles-v3__item-grid {
    /* single post */
    display: grid;
    align-items: start;
    gap: 1rem;
}

.articles-v3__item-grid>* {
    min-width: 0;
}

.articles-v3__img-wrapper {
    display: block;
    transition: opacity 0.3s;
}

.articles-v3__img-wrapper:hover {
    opacity: 0.85;
}

.articles-v3__img-wrapper img {
    display: block;
    border-radius: 0.375em;
    width: 100%;
    aspect-ratio: 16 / 9;
    -o-object-fit: cover;
    object-fit: cover;
}

.articles-v3__headline {
    font-size: 2.125rem;
}

.articles-v3__headline a {
    color: hsl(230, 13%, 9%);
    text-decoration: none;
}

.articles-v3__headline a:hover {
    text-decoration: underline;
}

.articles-v3__description {
    margin: 1rem 0;
    color: hsl(225, 4%, 47%);
    line-height: 1.58;
}

.articles-v3__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.articles-v3__author {
    display: grid;
    grid-template-columns: 3em 1fr;
    gap: 0.75rem;
    align-items: center;
}

.articles-v3__author-img {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.articles-v3__author-img img {
    display: block;
    width: inherit;
    height: inherit;
}

.articles-v3__author-img:hover {
    transform: scale(1.1);
}

.articles-v3__author-info {
    font-size: 0.9375rem;
    line-height: 1.2;
}

.articles-v3__author-name {
    font-weight: bold;
    color: hsl(230, 13%, 9%);
    text-decoration: none;
}

.articles-v3__author-name:hover {
    text-decoration: underline;
}

.articles-v3__date {
    color: hsl(225, 4%, 47%);
}

@media (min-width: 64rem) {
    .articles-v3__list-grid {
        gap: 2rem;
    }

    .articles-v3__item-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 85.5rem) {
    .articles-v3__list-grid {
        gap: 3rem;
    }

    .articles-v3__item-grid {
        grid-template-columns: 7fr 5fr;
        gap: 3rem;
    }
}

/* -------------------------------- 
  
  Utilities 
  
  -------------------------------- */

.cd-container {
    width: calc(100% - 3rem);
    margin-left: auto;
    margin-right: auto;
}

.cd-max-width-adaptive-lg {
    max-width: 32rem;
}

@media (min-width: 64rem) {
    .cd-max-width-adaptive-lg {
        max-width: 64rem;
    }
}

@media (min-width: 85.5rem) {
    .cd-max-width-adaptive-lg {
        max-width: 80rem;
    }
}


@media (max-width: 768px) {
    #mainContainer {
        margin-top: 90px;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    #postContainer {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .cardContainer {
        margin-left: 0;
        width: 100%;
        padding: 10px;
        max-width: none;
    }

    .imgContainer {
        height: 200px;
    }

    #nextPagebtn button {
        width: 100%;
        margin: 10px 0;
    }

    .titleContainer {
        margin-top: 5px;
        text-align: center;
    }

    .creatorContainer {
        margin-top: 10px;
        text-align: center;
        line-height: 20px;
    }

    .readMoreContainer {
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 10px 0;
    }

    .readMoreContainer a {
        font-size: 1rem;
    }

    #postContainer li {
        margin-top: 30px;
        border-bottom: 1px dotted black;
        padding-bottom: 15px;
    }
}