*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainContainer{
    display: flex;
    
    flex-direction: column;
    /* border: 2px solid red; */
    height: 80vh;
    margin-top: 100px;
}

#profileImageContainer{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    height: 50%;
}

#profileImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 20px gray;
}

#userContent{
    /* border: 2px solid green; */
    text-align: center;
    padding: 20px;
}
#username{
    font-size: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#totalCount{
    display: flex;
    align-items: center;
}
#totalCount p{
    font-size: 2rem;
    padding-left: 2rem;
}
#totalCount h2{
    font-size: 2rem;
    padding-left: 1rem;
}

/* #postCardContainers{
    border: 2px solid red;
    display: flex;
}
#postCard{
    border: 2px solid black;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#postImage img{
    width: 200px;
    border-radius: 10px;
}
#title{
    border: 2px solid red;
    height: 100%;
    width: 50%;
} */

#postCardContainers {
    border-top: 2px solid gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.postCard {
    border: 2px solid black;
    width: 90%;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
}

.postImage img {
    width: 200px;
    border-radius: 10px;
}

.title {
    /* border: 2px solid red; */
    padding: 20px;
    height: 100%;
    width: 50%;
}