*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0xNDEtbnVubnktMTBiXzEuanBn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer{
    border: 2px solid gray;
    height: 50%;
    width: 40%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#title{
    padding-bottom: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#content p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#content input{
    height: 50px;
    width: 180px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
}
#content button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: blue;
    color: white;
    cursor: pointer;
}